<%= form_for(@first_input) do |f| %>
  <% if @first_input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@first_input.errors.count, "error") %> stopped this from being saved.</h2>

      <ul>
      <% @first_input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deal_type, "Product Deal or Gen Spend:" %><br>
    <%= f.collection_select :deal_type, Article::DEALTYPES, :to_s, :to_s, 
       :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :num_options, "Number of Options as an Integer:" %><br>
    <%= f.number_field :num_options %>
  </div>
  <div class="field">
    <%= f.label :biz_name, "Business Name:" %><br>
    <%= f.text_field :biz_name %>
  </div>
  <div class="field">
    <%= f.label :longer_descriptor, "Descripton of the Deal. Always in Caps, Plural for Multiple Options" %><br>
    <%= f.text_field :longer_descriptor %>
  </div>
	<br>
	<p>Following fields are for <i>Product Deals</i> with <i>Multiple Options.</i></p>
  <div class="field">
    <%= f.label :multoption_types, "Multiplied is deals like: One X, Two X. Optional is deals like: \"X\" or \"X with Y\". Complicated is deals that will hit character limits."%><br>
    <%= f.collection_select :multoption_types, Article::MULTSTRUCTURE, :to_s, :to_s, 
       :include_blank => true %>
  </div>
  <p>Hit Submit if you chose "Complicated"</p>
  <br>
  <p><b>Two fields for "Multiplied" deals:</b></p>
  <div class="field">
    <%= f.label :optionals, "Short Descriptor is for deals like One Facial, Two Facials.  The rest are self-explanatory." %><br>
    <%= f.collection_select :optionals, Article::MULTIPLIERTYPE, :to_s, :to_s, 
       :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :option_multiplier, "Multipler on each option as an intereger separated by spaces. One Facial, Two Facials, Four Facials would be \"1 2 4\"" %><br>
    <%= f.text_field :option_multiplier %>
  </div>
   <br>
  <p><b>One field for "Optional" deals:</b></p>
  <div class="field">
    <%= f.label :option_descriptor, "All the add ons, separated by \", \".  Blowout, Blowout with Cut, Blowout with Style would be \"Cut, Style\"" %><br>
    <%= f.text_field :option_descriptor %>
  </div> 
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <div class="field">
    <%= f.label :multi_voucher, "Check if MultiVoucher. NOT YET BUILT!"%><br>
    <%= f.check_box :multi_voucher %>
  </div>
<% end %>
