<p id="notice"><%= notice %></p>


<%if @gallery_title != ""%>
<p>
<strong>Gallery Title:  </strong>
<%= @gallery_title %>
</p>
<p>
<strong>Mobile API Title:  </strong>
<%= @title %>
</p>
<p>
<strong>Descriptor:  </strong>
<%= @descriptor %>
</p>
<strong>Short Descriptor:  </strong>
<%= @short_descriptor %>
</p>
<p>
<strong>Write Up:  </strong>
<%= @writeupheader %>
<br>
<br>
<%= @writeup %>
</p>
<%end%>

<%= link_to 'Edit', edit_first_input_path(@first_input) %> |
<%= link_to 'Back', first_inputs_path %>
