<br>
<br>
<p>
<strong>Gallery Title:  </strong>
</p>
<p>
<%= @gallery_title %>
</p>
<p>
<strong>Mobile API Title:  </strong>
</p>
<p>
<%= @title %>
</p>
<p>
<strong>Descriptor:  </strong>
</p>
<p>
<%= @descriptor %>
</p>
<p>
<strong>Short Descriptor:  </strong>
</p>
<p>
<%= @short_descriptor %>
</p>
<p>
<strong>Write Up:  </strong>
</p>
<p>
<%= @writeupheader %>
<br>
<br>
<%= @writeup %>
</p>

<br>
<br>
