<h1>Multi Option Title Fields Output</h1>
<p>Find me in app/views/title_fields/output.html.erb</p>


<%= @gallery_title %>
<%= @title %>
<%= @descriptor %>
<%= @short_descriptor %>
<%= @writeup %>

<p>
  <strong>Num options:</strong>
  <%=@first_input.num_options %>
</p>

<p>
  <strong>Deal type:</strong>
  <%= @first_input.deal_type %>
</p>

<p>
  <strong>Biz name:</strong>
  <%= @first_input.biz_name %>
</p>

<p>
  <strong>Longer descriptor:</strong>
  <%= @first_input.longer_descriptor %>
</p>

<p>
  <strong>Multi voucher:</strong>
  <%= @first_input.multi_voucher %>
</p>



<p>
  <strong>Additional Inputs:</strong>
  <%= @first_input.multi_voucher %>
</p>

<p>
  <strong>Multi voucher:</strong>
  <%= @first_input.multi_voucher %>
</p>

