<!DOCTYPE html>
<html>
<head>
  <title>GrouponApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'New Deal', new_first_input_path %>

<%= yield %>

</body>
</html>
